body{
    background: black;
    overflow: hidden;
    cursor: url('../image/cursor.png'), auto;
    user-select: none;
}

#retry, #back{
    position: relative;
    display: none;
    opacity: 0;
    width: 400px;
}

#retry{
    margin-top: 1vh;
}



#retry:hover, #back:hover{
    width: 450px;
}

#number{
    text-align: center;
    position: absolute;
    top: -40px;
    width: 100%;
    color: white;
    font-size: 64px;
}

#circle{
    position: relative;
    display: none;
    float:left;
    border: 5px solid white;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    background-color: rgb(50, 115, 168);
}

#points{
    color: white;
    font-size: 50px;
    float: right;
    margin-top: 0;
    display: none;
}



#area{
    border: 1px solid white;
    width: 100vh;
    height: 81vh;
    margin: auto;
    margin-top: 2%;
    display: none;
}

#healthBar{
    width: 400px;
    height: 10px;
    padding: 5px;
    background: #ddd;
    position: relative;
    display: none;
}

#bar{
    background: red;
    width: 400px;
    height: 10px;
    position: relative;
    display: none;
}

#miss{
    display: none;
    text-align: center;
    position: absolute;
    width: 40px;
    height: 40px;
    float: left;
    margin-left: 520px;
    margin-top: 150px;
}

#comboCounter{
    position: absolute;
    margin-bottom: auto;
    color: white;
    font-size: 50px;
    display: none;
}

#failScore, #failCombo, #failMiss, #fail300{
    display: none;
    color: white;
}

#result{
    background-image: url(../image/panel.png);
    background-repeat: no-repeat;
    width: 100%;
    background-size: 60%;
    font-size: 50px;
    color: white;
    opacity: 0;
    float: left;
    display: none;
}

#failScore{
    margin-left: 20.2%;
    margin-top: 3%;
}

#row{
    display: flex;
    flex-direction: row;
    margin-top: 3.8%;
}

#fail300{
    margin-left: 11.2%;
}

#failMiss{
    margin-left: 29.5%;
}

#failCombo{
    margin-left: 25.9%;
    margin-top: -0.8%;
}

#play{
    display: none; 
    cursor: url('../image/cursor.png'), auto;
    width: 40%;
    height: 5%;
    padding: 20px;
    font-size: 50px;
    color: white;
    background-color:deeppink;
    margin-top: 20%;
    float: left;
    margin-right: 15%;
    transition: 1s;
    opacity: 0;
 }

 #menu{
    flex-direction: row;
    display: flex;
 }
 
 #logo{
     display: block;
     margin: auto;
     width: 30%;
     height: 30%;
     transition: 0.2s;
     margin-top: 10%;
 }
 

 
